.knowledge {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 2rem auto;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.phnOptions {
  display: none;
}

.logo > p {
  margin-top: -0.25rem;
  font-family: "Philosopher", sans-serif;
  color: rgba(42, 114, 222, 1);
  font-weight: 700;
  font-size: 24px;
}

.logo > img {
  width: 6rem;
  object-fit: contain;
}

.options > div > img {
  width: 2rem;
  object-fit: contain;
}

.body {
  width: 88.5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sidebar {
  background-color: #d9d9d9;
  border-radius: 0.2rem 0.2rem 3rem 3rem;
  padding: 1rem 10rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  position: fixed;
  z-index: 50;
  transition: all ease-in 200ms;
}

.sidebarOption {
  display: flex;
  font-weight: 600;
  color: rgba(32, 32, 32, 1);
  gap: 3rem;
}

.sidebarOption > img {
  width: 2.5rem;
  object-fit: contain;
}

.sidebarOption > p {
  margin: 0;
  cursor: pointer;
}

.content {
  width: 85%;
  margin: auto 5rem auto 10rem;
}

.search {
  background-color: #d9d9d9;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  flex: 1;
  padding: 0.5rem 1rem;
}

.search > img {
  width: 2rem;
  object-fit: contain;
}

.search > input {
  border: none;
  outline: none;
  background-color: transparent;
}

.headings {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  gap: 1rem;
}

.heading {
  font-size: 35px;
  font-weight: 700;
  cursor: pointer;
  transition: all ease-in 250ms;
}

.heading:hover {
  font-size: 50px;
}

.text {
  font-size: 32px;
  text-align: center;
  line-height: 52.5px;
  color: rgba(32, 32, 32, 0.75);
  font-weight: 700;
}

.journeyPartText {
  color: rgba(32, 32, 32, 1);
}

.chapters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin: 4rem 0;
}

@media (max-width: 1024px) {
  .text {
    font-size: 18px;
    line-height: 32px;
  }

  .heading {
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    transition: all ease-in 250ms;
  }

  .heading:hover {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .phnOptions {
    display: flex;
    gap: 3rem;
  }

  .phnOptions > div > img {
    width: 2rem;
    object-fit: contain;
  }

  .body {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .sidebar{
    display: none;
  }

  .content {
    margin: 2rem auto;
  }

  .options {
    display: none;
  }

  .navbar {
    flex-direction: column;
    justify-content: center;
  }

  .heading {
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all ease-in 250ms;
  }

  .heading:hover {
    font-size: 24px;
  }
}
