.onboard_section {
  width: 80%;
  margin: auto;
  color: #fff;
}

.onboard_intro > h1 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 0;
}

.onboard_intro > p {
  font-size: 22px;
  font-weight: 400;
}

.onboard_input {
  margin: 3rem auto;
}

.onboard_input > h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
}

.onboard_input > p {
  font-size: 22px;
  font-weight: 300;
}

.onboard_input > input,
.onboard_input > textarea {
  width: 100%;
  border: none;
  background: rgba(95, 95, 95, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 1.3rem;
  color: #fff;
  font-size: 18px;
}

.onboard_input > textarea {
  height: 7rem;
}

.next_btn {
  display: flex;
  justify-content: end;
}

.next_btn button {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  /* identical to box height */
  border: none;
  text-align: center;
  color: #ffffff;
  width: 150px;
  padding: 0.3rem;
  background: #2a72de;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  border-radius: 4px;
  margin: auto auto 3rem;
}

@media (max-width: 1024px) {
  .onboard_intro > h1 {
    font-size: 36px;
  }

  .onboard_intro > p,
  .onboard_input > p {
    font-size: 16px;
  }

  .onboard_input > h3 {
    font-size: 28px;
  }

  .onboard_input > input,
  .onboard_input > textarea {
    width: 90%;
    padding: 0.7rem;
    font-size: 16px;
  }
}
