.mentor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d9d9d9;
  border-radius: 1rem;
  padding: 2rem 3rem;
  text-align: center;
  color: black;
  height: 20rem;
  justify-content: space-evenly;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 200ms ease-in-out;
}

.mentor:hover {
  box-shadow: none;
  background-color: white;
}

.link {
  text-decoration: none;
}

.mentor > img {
  width: 50%;
}

.rating {
  width: 60%;
}

.reviews {
  color: rgba(43, 103, 246, 1);
}

.name {
  margin: 0;
  font-size: 1.2rem;
}
