.main {
  height: 100vh;
}
.chat-button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 1rem 2rem;
  font-size: 18px;
  font-weight: 600;
  background-color: #2a72de;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
