.link {
  text-decoration: none;
  color: inherit;
}

.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.5rem;
  transition: all 200ms;
}

.main:hover {
  box-shadow: none;
}

.main > img {
  width: 100%;
  object-fit: cover;
}

.name {
  text-align: center;
}

.blogBody {
  text-align: center;
}
